* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
    background-color: black;
    color: silver;
}

header {
    display: flex;
    align-items: center;
    border-bottom: 3px ridge silver;
    margin-bottom: 2em;
}

header img {
    padding: 1em;
}

header h2 {
    font-size: 300%;
}

header h3 {
    font-size: 200%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagecarousel {
    position: relative;
}

.image {
    display: none;
}

.image:first-of-type {
    display: block;
}

.image img {
    border-radius: 10px;
}

.prev,
.next {
    position: absolute;
    font-size: 200%;
    color: rgba(0, 0, 255, 0.486);
    top: 50%;
    padding: .25em;
    border-radius: 50vh;
    transition: all ease-in-out 300ms;
    transform: translateY(-50%);

}

.prev {
    left: 15px;
}

.next {
    right: 15px;
}

.prev:hover,
.next:hover {
    color: gold;
    background-color: black;
    cursor: pointer;
}

.dots {
    display: flex;
    gap: 12px;
    margin-top: 9px;
    justify-content: center;
}

.dot {
    background-color: silver;
    padding: 6px;
    /* cursor: pointer; */
    /* aspect-ratio: 1; */
    border-radius: 50vh;
}

.active {
    background-color: gold;
}

.fadeout {
    animation: fade 2000ms;
}

@keyframes fade {
    from {
        opacity: .2
    }

    to {
        opacity: 1
    }
}

footer {
    padding: 2em 0;
    font-size: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 3px ridge silver;
    margin-top: 2em;
}

@media (max-width: 800px) {
    .image img {
        width: 100%;
        display: block;
        border-radius: 0;
        overflow-x: hidden;
    }

    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 70%;
    }

    .dot {
        padding: 4px;
        justify-content: center;
        align-items: center;
    }

    .prev,
    .next {
        font-size: 350%;
    }


}